= form_with model: @tweet, method: :patch, local: true do |f|
  名前:
  = f.text_field :name, placeholder: "名前"
  画像:
  = f.text_field :image, placeholder: "画像のURL"
  メモ:
  = f.text_area :text, placeholder: "メモ"
  性格:
  = f.collection_select :personality_id, Personality.all, :id, :name
  HP:
  = f.number_field :h, placeholder: "HP"
  攻撃:
  = f.number_field :a, placeholder: "攻撃"
  防御:
  = f.number_field :b, placeholder: "防御"
  特攻:
  = f.number_field :c, placeholder: "特攻"
  特防:
  = f.number_field :d, placeholder: "特防"
  素早さ:
  = f.number_field :s, placeholder: "素早さ"
  = f.submit "送信する"
