.tweet_main
  - @tweets.each do |tweet|
    .tweet_box
      %button.tweet_btn
        = link_to "詳細", tweet_path(tweet.id),method: :get
      - if user_signed_in? && current_user.id == tweet.user_id
        %button.tweet_btn
          = link_to "削除", tweet_path(tweet.id),method: :delete
        %button.tweet_btn
          = link_to "編集", edit_tweet_path(tweet.id)
      - if user_signed_in?
        - if current_user.already_liked?(tweet)
          %button.tweet_btn
            = link_to "いいねを取り消す", tweet_like_path(tweet.id, current_user.id),method: :delete
        - else
          %button.tweet_btn
            = link_to "いいね", new_tweet_like_path(tweet)
      #{tweet.likes.count}
      %span.tweet_text #{tweet.name}
      - unless tweet.image == ""
        = image_tag(tweet.image, class: "tweet_image", size:"400x300")
      %span.tweet_text #{tweet.text}
      %span.tweet_text #{tweet.personality.name}
      %span.tweet_text [努力値] H:#{tweet.h} A:#{tweet.a} B:#{tweet.b} C:#{tweet.c} D:#{tweet.d} S:#{tweet.s}
      %span.tweet_name #{tweet.user.name}
= paginate(@tweets)
