.tweet_main
  - @tweets.each do |tweet|
    .tweet_box
      - if user_signed_in?
        - if current_user.already_liked?(tweet)
          = link_to tweet_like_path(tweet.id, current_user.id),method: :delete do
            = fa_icon "heart",class: :log_in_on_heart
        - else
          = link_to new_tweet_like_path(tweet) do
            = fa_icon "heart",class: :log_in_off_heart
      - else
        = fa_icon "heart",class: :log_out_heart
      #{tweet.likes.count}
      = render partial: "tweet", locals: { tweet: tweet }
      %span.tweet_name #{tweet.user.name}
