!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TestPic
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header_bar
        %h1.header_title
          = link_to "テスト", root_path
        .header_btn_box
          - if user_signed_in?
            = form_with url: search_tweets_path, method: :get, local: true do |f|
              = f.text_field :keyword, placeholder: "検索したい投稿名を入力",class: "search_field"
              = f.submit "検索する",class: "search_btn"
            %button.new_btn
              = link_to "新規投稿", new_tweet_path
            %button.user_btn
              = link_to "マイページ", user_path(id: current_user.id)
            %button.user_btn
              = link_to "ログアウト", destroy_user_session_path,method: :delete
          - else
            %button.new_btn
              = link_to "新規登録", new_user_registration_path
            %button.user_btn
              = link_to "ログイン", new_user_session_path
    = yield
